* {
    margin: 0;
    padding: 0;
}

body {
    color: #3a3a3a;
}

header {
    background-color: aqua;
}

/* headings and logo */

h1,
h2 {
    color: #2c3968;
    text-transform: capitalize;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 150%;
    text-decoration: none;
    padding-left: 2%;
}

#logo>h2 {
    font-size: 100%;
    text-align: center;
}

#logo,
#head_logo {
    padding-top: 5px;
}

#head_logo>img {
    width: 20%;
    height: auto;
    float: right;
    animation-name: driveIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* animation to move the car into postion */
@keyframes driveIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/*nav menu and links*/
#menu {
    font-size: 110%;
    letter-spacing: 3px;
    clear: left;
    padding-left: 5.5%;
    color: inherit;
}

#menu a {
    text-decoration: none;
}

#menu>li {
    float: left;
    list-style-type: none;
    margin-left: 2.5%;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#menu a:visited {
    color: #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*article and video styling*/
#about_us {
    clear: both;
    float: left;
    width: 35%;
    padding: 2% 0 0 2%;
}

#about_us>h2 {
    text-align: center;
}

#about_us>p {
    text-align: left;
    font-size: 105%;
}

#video {
    padding: 0 2% 0 2%;
    width: 55%;
}

/*image selctor*/
#cssImageSelector {
    clear: both;
    float: left;
    padding-left: 2%;
    padding-top: 150px;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    background-color: #2c3968;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 5px;
    color: #ccc;
}
/*checks if radio is checked and changes label*/
input[type="radio"]:checked+label {
    background-color: #ccc;
    color: #2c3968;
}

label:hover {
    background-color: #ccc;
    color: #2c3968;
}

/* Image container */
.image-holder {
    clear: both;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

/* clears images */
.image-holder div {
    display: none;
}

/* checks if car has been checked and changes its display */
#car1:checked~.image-holder .car1,
#car2:checked~.image-holder .car2,
#car3:checked~.image-holder .car3,
#car4:checked~.image-holder .car4,
#car5:checked~.image-holder .car5 {
    display: block;
}

/* style rules of the image */
.image {
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 2px solid #2c3968
}

.car1 {
    background-image: url('../images/fiesta_mk3-xr2i.webp');
}

.car2 {
    background-image: url('../images/fiesta-mk3-van.jpeg');
}

.car3 {
    background-image: url('../images/fiesta_mk3_5door.jpg');
}

.car4 {
    background-image: url('../images/fiesta-rsturbo.webp');
}

.car5 {
    background-image: url('../images/ford_fiesta_1989_3door.webp');
}

/*types of fiesta style*/
#types_fiesta {
    float: right;
    width: 55%;
    padding: 2% 2% 0 0;
}

#types_fiesta>h2 {
    text-align: center;
}


#types_fiesta>p {
    text-align: left;
    font-size: 105%;
}
/*footer*/
footer{
    clear: both;
    height: 75px;
    background-color:red;
}

#bottom-nav {
    font-size: 110%;
    letter-spacing: 3px;
    color: inherit;
    text-align: center;
    padding-top: 25px;
}

#bottom-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#bottom-nav a {
    text-decoration: none;
}

#bottom-nav li {
    display: inline-block;
    margin-left: 2.5%;
}

#bottom-nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#bottom-nav a:visited {
    color: #3a3a3a;
}

#copyrigth{
    float:right;
    float: bottom;
    padding: 2% 2% 0 0;
}